article{
  border-style: solid;
  border-width: thin;
  padding: 5px 5px 5px 5px ;

}

p{
  font-size: 30px;
}
.form-control{
	max-width: 35%;
	display: inline-block;
	max-height: 200px;
}
textarea{
	height: 3.3em;
	overflow:hidden;

}